.vscode/
avm_reference/
dataset_ref/
dataset_maker/
**/__pycache__/
dataset/__pycache__/
dataset/data/*
!dataset/data/bev/
!dataset/data/fev/
!dataset/data/undist/
!dataset/data/detected_points.json
!dataset/data/homo.json
experiments/eeavm
experiments/config/*
model/vis*
*.sh